*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 1448px;
    margin:1px auto;
    font-family: Roboto, sans-serif;
}
header{
    display: flex;
    max-width: 100%;
    height: 40px;
    margin: 16px 24px 24px 0;
    justify-content: space-between;
}
.header_search{
    display: flex;
    align-items: center;
    padding: 6px 0;
}
.header_search:focus-within{
    fill:rgb(233,127,3);
    border-bottom:1px solid rgb(233,127,3);
    transition: 0.5s;
}
.header_search_image{
    margin: 8px 8px 8px 8px;
}
.header_search_image:active{
    fill:rgb(233,127,3);
}
.header_search_input{
    flex-shrink: 0;
}
input{
    width: 300px;
    height: 40px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
}
.header_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}
.cart{
    margin-right: 16px;
}
.cart path:hover, .profile path:hover{
    fill:rgb(233,127,3);
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1448px;
}
.item-image{
    border:1px solid darkgray;
    flex:0 0 300px;
    background-image: url("img/google-home-voice-command-device-amazon-echo-google-assistant-voice-command-device-d33abfc7403668afbd14357605a38f6c 1.svg");
    background-repeat:no-repeat;
    background-position: center;
}

.item-content{
    display: flex;
    flex-direction: column;
}
.item-desc{
    max-height: 300px;
}
.item-desc-first-block>p, .item-desc-second-block>p{
    width: 1084px;
    height: 64px;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0 0 16px 16px;
    text-align: justify;
}
h2,h3{
    margin-left: 16px;
    padding-bottom: 16px;
}
.item-add-button-block{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
button{
    cursor: pointer;
}
.item-price{
    color: #E97F03;
    text-align: right;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0 16px;
}
.add-to-cart{
    width:160px;
    height:40px;
    background-color: rgb(233,127,3);
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 22px;
    margin:0 16px;
}
.items-counter-wrapper{
    display: flex;
    flex-direction: row;
    width:148px;
    height: 40px;
}
.plus, .minus{
    width: 40px;
    height: 40px;
    background-color: inherit;
    border:1px solid black;
    color:rgb(233,127,3);
    font-size: 30px;
    font-family: Roboto;
}
.counter{
    width:100px;
    height: 40px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-color: inherit;
    color:black;
    font-size: 24px;
    line-height: 10px;
}
.counter>p{
    text-align: center;
    line-height: 40px;
}
.item-fav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0 16px;
}
@media screen and (max-width: 375px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    body {
        width: 375px;
        max-height: 921px;
        font-family: Roboto, sans-serif;
    }
    header{
        display: flex;
        max-width: 100%;
        height: 40px;
        margin: 16px 0;
        justify-content: space-between;
    }
    .header_search{
        display: flex;
        align-items: center;
        padding: 6px 0;
    }
    .header_search:focus-within{
        fill:rgb(233,127,3);
        border-bottom:1px solid rgb(233,127,3);
        transition: 0.5s;
    }
    .header_search_image{
        margin: 8px 8px 8px 8px;
    }
    .header_search_image:active{
        fill:rgb(233,127,3);
    }
    .header_search_input {
        flex-shrink: 0;
    }
    input {
        width: 112px;
        height: 16px;
        font-size: 14px;
        border: none;
        background-color: transparent;
        color: inherit;
        outline: none;
    }
    .header_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .cart {
        margin-right: 16px;
    }
    .cart path:hover, .profile path:hover {
        fill: rgb(233, 127, 3);
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 375px;
        margin: 0px auto;
    }
    .item-image {
        border: 1px solid darkgray;
        background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.00) 100%), url("img/google-home-voice-command-device-amazon-echo-google-assistant-voice-command-device-d33abfc7403668afbd14357605a38f6c 1.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 375px;
        height: 200px;
    }

    .item-desc {
        max-height: 535px;
    }
    h2 {
        margin-top: 16px;
    }
    .item-desc-first-block > p {
        width: 327px;
        height: 208px;
        text-align: justify;
        color: #000;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .item-desc-second-block > p {
        width: 327px;
        height: 192px;
        text-align: justify;
        color: #000;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .item-add-button-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 16px;
    }
.item-price{
    margin-left: 24px;
    margin-bottom: 16px;
    order:-2;
}
    .items-counter-wrapper {
        margin-left: 24px;
    }
    .item-fav{
        margin-right: 24px;
        margin-left: 170px;
        order:-1;
    }
    .add-to-cart{
        margin-right: 24px;
    }
}